body{
font-family: 'Montserrat';
text-align: center;
font-size: 2rem;
box-sizing: border-box;
margin: 0;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
}
.navbar{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border: none;
    font-size: 2.5rem;
    box-shadow:1px 3px 5px rgba(0, 0, 0, 0.26);
    
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    font-size: 3rem;
    color: royalblue;
    text-align: center;
}

.login-card{
    width: 50%;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}
.big-heading{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5rem;
    padding-bottom: 10px;
}
#title{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #FFF;
    text-align: left;
    padding: 10px;
    font-size: 2.5rem;

  
}
.thumbnail{
    border: 0;
    border-radius: 10px;
    /* box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.26); */

}
.thumbnail img{
    width: auto;
}

.container-fluid{
    padding: 1% 16%;
}

.caption{
    height: auto;
}

.contact-form{
    padding: 100px;
    margin-top: 100px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.26);
}

.contact-form button{
    padding: 20px 50px;
}


.login-form{
    margin-top: 100px;
    padding: 50px 0;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.26);

}



/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 3 text input with search icon */

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}




.main-content{
    margin: 0 auto;
    height: 400px;
    padding: 20px;
}
.carousel-inner{
    height: 400px;
}
.carousel-inner .slide-image{
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





.img{
    width: 100%;
}




.hr{
    margin: 10px auto 10px auto;
    border-style: none;
    border-top-style: dotted;
    width: 100px;
    border-width: 20px;
    border-color: #EAF6F6;
      
  }


  .checkout-table td{
      text-align: left;
     
  }


  .scroll-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: none;
    width: 3.75rem;
    height: 2.85rem;
    text-align: center;
    color: #fff;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    line-height: 31px;

}
.rounded {
    border-radius: 100%!important;
}

 /* Small devices (tablets, 768px and up) */
 @media (min-width: 768px){ 
    #navbar-search-input{ 
      width: 60px; 
    }
    #navbar-search-input:focus{ 
      width: 100px; 
    }
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px){ 
    #navbar-search-input{ 
      width: 150px; 
    }
    #navbar-search-input:focus{ 
      width: 250px; 
    } 
  }

  .word-wrap{
    overflow-wrap: break-word;
  }
  .prod-body{
    height:300px;
  }

  .box:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .register-box{
    margin-top:20px;
  }

  #trending{
    list-style: none;
    padding:10px 5px 10px 15px;
  }
  #trending li {
    padding-left: 1.3em;
  }
  #trending li:before {
    content: "\f046";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; 
    width: 1.3em;
  }

  /*Magnify*/
  .magnify > .magnify-lens {
    width: 100px;
    height: 100px;
  }


  /***    FEATURES SERVICES       ****/
#full-features{
  background-color: #6dd5ed;
  padding: 10% 5%;

}
#features{
  margin: 0 auto;

}
  .box-f:hover{
    padding: 4%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  